<br>
<table class="table table-bordered">
  <thead class="text-center">
    <tr>
      <th scope="col">Number</th>
      <th scope="col">Publisher Name</th>
      <th scope="col">Publishers Books</th>
      <th scope="col">Add</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <% i=1 %>
  <% @publishers.each do |p|  %>
  <tbody>
    <tr class="text-center h6">
      <th scope="row"><%=i %></th>
      <td >
      <%=link_to p.name,show_one_path(p.id), class:"text-decoration-none"%>
      </td>
      <% i+=1 %>
      <td><%= link_to 'Show books' ,publishers_books_path(p.id),class:"nav-link pl-0 " %></td>
      <td><%= link_to 'Add book' ,new_book_path(p.id),class:"nav-link" %></td>
      <td><%= link_to 'Delete publisher' ,delete_path(p.id),class:"nav-link" %></td>
    </tr>
    <% end %>
 
  </tbody>
</table>
<br>
<%= link_to 'New publisher',add_new_path, class:'nav-link btn btn-secondary w-25 text-light' %>