
 <div class="container p-5 w-50 border mt-5"> 
    <div class="text-center font-bold">
        <h3>New publisher</h3>
    </div>
        <%=form_with model:@publisher do |f|%>
            <div class="form-group ps-5 pe-5">
                <%= f.label:name, class:"fw-bold"%>
                <%= f.text_field:name ,placeholder:"Publishers Name",class:"form-control" %>
            </div>
            <br>
            <div class="form-group ps-5 pe-5">
                <%= f.label:adress,class:"fw-bold" %>
                <%= f.text_field:adress,placeholder:"Adress of publisher",class:"form-control" %>
            </div>
            <br>
            <div>
            <%=f.submit "Create",class:"btn btn-secondary ms-5"%>
            </div>
        <% end %>
  </div>