<table class="table  mt-5 ">
  <thead class="thead-dark text-center">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Book title</th>
      <th scope="col">Date</th>
      <th scope="col">Have EBook</th>
      <th scope="col">Publisher</th>
      <th scope="col">Edit</th>
    </tr>
  </thead>
  <tbody>
  <% i=1 %> 
  <% @books.each do |b| %>
    <tr class="text-center">
      <th scope="row"><%=i %></th>
      <% i+=1  %>
      <td><%=b.name %></td>
      <td><%="#{b.date.day}.#{b.date.month}.#{b.date.year}"%></td>
      <% ebook='Yes'
      if !b.ebook
      ebook='No'
         end %>
      <td><%=ebook %></td>
      <td><%=@publisher.name %></td>
      <td><%= link_to "Edit book",edit_book_path(b.id),class:"nav-link" %></td>
    </tr>
   <% end %>
  </tbody>
</table>
  </tbody>
</table>
<%= link_to "Back",root_path,class:"nav-link btn btn-secondary w-25 text-light" %>